html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #303030;
    width: fit-content;
}

header {
    position: sticky;
    top: 0;
    background-color: #F6F9F3;
}

.header-container {
    height: 100px;
    border-bottom:  2px solid #A4C58C;
}

.header-line {
    display: flex;
    align-items: center;

    padding-top: 25px;
    margin: 0 50px;
}

.header-logo {
    margin-right: 60px;
    padding-left: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-grow: 1;

    transition: color 3s linear;
}

.nav-list:nth-last-child() {
    margin-right: 0px;
}

.nav-list a {
    color: #9A9A9A;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: 50px;
}

.nav-list a:hover {
    color: #A4C58C;
}

.nav-list a:active {
    color: #c5d594;
}

.loupe {
    padding-right: 20px;
}

main {
    margin: 0 90px;
}

.high-text {
    margin:  0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.quote {
    padding-top: 100px;
    margin: 0 auto;
    width: 700px;
    padding-bottom: 110px;
}

.quote-high {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    padding-top: 45px;
    padding-bottom: 25px;

    border-top: 2px solid #A4C58C;
}

.quote-low {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 45px;

    transition: color 1s linear;
    border-bottom: 2px solid #A4C58C;
}

.quote-hover {
    text-decoration: none;
    color: black;
}

.quote-hover:hover {
    color: #A4C58C;
}

.quote-hover:active {
    color: #c5d594;
}

.about {
    margin-bottom: 110px;
}

.about-container-first {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 60px;
}

.about-container-second {
    display: flex;
    justify-content: space-between;
}

.about-text-first {
    margin-left: 40px;
}

.fax-first {
    width: 90px;
    font-weight: 400;
    font-size: 28px;
    line-height: 55px;  
    color: #A4C58C;;

    margin-bottom: 30px;
    margin-top: -3px;
    border-bottom: 2px solid #A4C58C; 
}

.fat-first {
    font-weight: 700;
    font-size: 20px;
    line-height: 35px; 

    margin-bottom: 20px;
}

.first-container-text-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 15px;
}

.first-container-text-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.fax-second {
    width: 95px;
    font-weight: 400;
    font-size: 28px;
    line-height: 55px;  
    color: #A4C58C;;

    margin-bottom: 30px;
    margin-top: -3px;
    border-bottom: 2px solid #A4C58C; 
}

.fat-second {
    font-weight: 700;
    font-size: 20px;
    line-height: 35px; 

    margin-bottom: 20px;
}

.second-container-text-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 15px;
}

.second-container-text-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.about-text-second {
    margin-right: 40px;
}

.hide {
    color: #fff;
}

.symptoms-container {
    display: flex;
    justify-content: space-between;
}

.symptoms-text {
    display: grid;
}

.symptoms-big-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    margin: 0;
    padding-top: 65px;
    padding-bottom: 15px;

    border-bottom: 2px solid #A4C58C; 
}

.symptoms-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-top: 90px;
}

.symptoms-list li {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.symptoms-button {
    background-color: #7EB252;
    text-decoration: none;
    color: #fff;

    padding: 19px 169px 19px 121px;
    margin-top: 82.5px;
    margin-right: 100px;
    margin-bottom: 64px;
    margin-left: 140px;
}

.symptoms-text a:hover {
    color: #ccf9ae;
}

.symptoms-text a:active {
    color: #c5d594;
}

.gallery-container {
    margin: 110px 85px;
}

.gallery-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    margin: 0;
    padding-bottom: 20px;

    border-bottom: 2px solid #A4C58C; 
    
}

.sub-gallery-container {
    padding-left: 120px;
    display: flex;
}

.gallery-main {
    margin-top: 90px;
}

.grid-imgs {
    list-style: none;

    margin-top: 90px;
}

.grid-img {
    margin-left: -15px;
    margin-bottom: 20px;
}

.grid-img:nth-last-child() {
    margin-bottom: 0px;
}

.footer {
    margin: 0 auto;
    background-color: #F6F9F3;
}

.footer-container {
    display: flex;

    padding-top: 90px;
}

.footer-first-block {
    width: 210px;
    display: grid;

    margin-right: 200px;
    margin-left: 90px;
    margin-bottom: 130px;
}

.footer-logo {
    margin-bottom: 35px;
}

.footer-privacy {
    width: 270px;
    color: #9A9A9A;
    
    margin-bottom: 15px;
}

.footer-privacy:hover {
    color: #b6b3b3;
}

.footer-privacy:nth-last-child() {
    margin-bottom: 0px;
}

.footer-topics {
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;
}

.footer-topic {
    width: 200px;

    padding-right: 150px;
    margin: 0;
}

.footer-topic-last {
    width: 200px;

    padding-right: 0px;
    margin: 0;
}

.footer-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 30px;
}

.footer-links {
    margin: 0;
    padding: 0;
}

.footer-link {
    list-style: none;

    margin-bottom: 15px;
}

.footer-link a:hover {
    color: #A4C58C;
}

.footer-link a:active {
    color: #c5d594;;
}

.footer-link:nth-last-child() {
    margin-bottom: 0px;
}

.footer-link  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}